mat-card {
    @media (max-width: 720px) {
        min-height: 120px;
        padding-right: 120px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 720px) {
    .mat-card {
        display: none !important;
    }
}